# Wholesale Gasoline Price Prediciton

In [17]:
import pandas as pd
import matplotlib.pyplot as plt

In [19]:
df = pd.read_csv("LOTOS.csv")
df.head()

         Date   Price  Excise  Surcharge
0  2022-09-06  5815.0  1413.0     152.61
1  2022-09-03  5800.0  1413.0     152.61
2  2022-09-02  5863.0  1413.0     152.61
3  2022-09-01  5949.0  1413.0     152.61
4  2022-08-31  5973.0  1413.0     152.61

In [16]:
df.index

Index(['2022-09-06', '2022-09-03', '2022-09-02', '2022-09-01', '2022-08-31',
       '2022-08-27', '2022-08-26', '2022-08-25', '2022-08-24', '2022-08-23',
       ...
       '2004-02-11', '2004-02-06', '2004-02-03', '2004-01-31', '2004-01-24',
       '2004-01-21', '2004-01-16', '2004-01-13', '2004-01-08', '2004-01-01'],
      dtype='object', name='Date', length=4527)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4527 entries, 0 to 4526
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4527 non-null   int64
 1   Date        4527 non-null   object
 2   Price       4527 non-null   float64
 3   Excise      4527 non-null   float64
 4   Surcharge   4527 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 177.0+ KB

In [9]:
df.describe()

        Unnamed: 0        Price       Excise    Surcharge
count  4527.000000  4527.000000  4527.000000  4527.000000
mean   2263.000000  3733.120168  1528.269052   111.710241
std    1306.976664   702.738072    65.360465    26.923067
min       0.000000  2428.000000  1315.000000    79.280000
25%    1131.500000  3304.000000  1540.000000    87.400000
50%    2263.000000  3588.000000  1540.000000   103.160000
75%    3394.500000  4123.000000  1565.000000   131.400000
max    4526.000000  7521.000000  1565.000000   165.140000